node_modules
.next
.turbo
.out
dist
build
coverage
.vscode
.git
pnpm-lock.yaml
yarn.lock
package-lock.json
public
*.png
*.jpg
*.jpeg
*.gif
*.svg
dist/
node_modules/
.next/
.turbo/
coverage/
pnpm-lock.yaml
.pnpm-store/